
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}


.matrix-input {
    width: 50px;
    height: 50px;
    text-align: center;
}

.row-col-input {
    width: 60px;
    height: 35px;
    text-align: center;
    margin-bottom: 15px;
  }

.header {
    background: #3490dc33;
    font-size: x-large;
}

.sideabr {
    font-size: 20px;
}

.ml35 {
    margin-left: 35px;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

